<form method="post" action="{{ path('invoice_delete', {'id': invoice.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette catégorie?');">
  <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ invoice.id) }}">
  <button class="btn btn-danger my-3">Supprimer</button>
</form>
