{% extends 'base.html.twig' %}

{% block title %}Modifier la facture{% endblock %}

{% block body %}
  <div class="center col-10 mt-0 d-flex flex-column justify-content-between mx-5 w-50">
    <h1>Modifier l'adresse de livraison</h1>

    {{ include('invoice/_form.html.twig', {'button_label': 'Modifier'}) }}

    <div class="d-flex align-items-center justify-content-between w-100">
      {{ include('invoice/_delete_form.html.twig') }}

      <a class="text-dark" href="{{ path('invoice_index') }}">Retour au menu Facture</a>
    </div>
  </div>

{% endblock %}
