{% extends 'base.html.twig' %}

{% block title %}Factures{% endblock %}

{% block body %}

  <div class="center col-10 mt-0 d-flex flex-column justify-content-between">
    <h1>Liste de mes factures</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Client</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for invoice in invoices %}
          {% if app.user.id == invoice.invoiceUser.id %}
            <tr class="table-active">
              <td>{{ invoice.createdAt|date("d/m/Y") }}</td>
              <td>{{ invoice.name }}</td>
              <td>
                <a class="btn btn-light mb-1" href="{{ path('invoice_show', {'id': invoice.id}) }}" role="button">Voir</a>
              </td>
            </tr>
          {% endif %}
        {% else %}
          <tr>
            <td colspan="5">Aucune facture enregistré</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
