{% extends 'base.html.twig' %}

{% block title %}Factures{% endblock %}

{% block body %}

  <div class="center mt-0 d-flex flex-column justify-content-between">
    <div class="row">
      <h1>Facture
        {{ invoice.name }}</h1>

      <table class="table">
        <tbody>
          <tr>
            <th>Id</th>
            <td>{{ invoice.id }}</td>
          </tr>
          <tr>
            <th>Nom</th>
            <td>{{ invoice.name }}</td>
          </tr>
        </tbody>
      </table>

      <a class="my-3" href="{{ path('invoice_index') }}">Retour au menu Facture</a>

    </div>
  </div>
{% endblock %}
