{% extends 'base.html.twig' %}

{% block title %}CGV{% endblock %}

{% block body %}

  <div class="center col-10 mt-0 d-flex flex-column justify-content-center">
    <div class="row cat m-0">

      <h1 class="slogan mt-2 mb-5 mx-0 d-flex justify-content-center fw-lighter fst-italic">Conditions Générales de Vente</h1>

      <p class="my-3 d-flex justify-content-center">(1) Ce site web (« ideacuisine.com.tn ») et/ou les services, y compris toutes les applications mobiles qui y sont connectées et toute offre ou vente de produits par l'intermédiaire du Site, sont détenus et exploités par [ID CONCEPT] (ci-après également appelés « nous », « notre » ou « nos »). Les présentes Conditions commerciales (les « Conditions ») énoncent les modalités et conditions dans lesquelles les visiteurs ou utilisateurs (collectivement, l’ « utilisateur » ou « vous ») peuvent visiter ou utiliser le Site et/ou les Services et acheter des Produits.
        <br>(2) En accédant aux Services ou en les utilisant, vous reconnaissez avoir pris connaissance des présentes Conditions et y consentir, et vous acceptez d'être lié par elles. Si vous n'acceptez pas l’intégralité des Conditions, vous ne pouvez pas accéder au Site ni utiliser aucun des Services. Lisez attentivement les présentes Conditions avant d'accéder à notre Site ou à nos Services, ou de les utiliser, ou d'acheter des Produits. Dans ces Conditions, vous découvrirez qui nous sommes, comment nous vous vendons nos Produits, comment vous pouvez résilier le contrat d'achat et ce que vous pouvez faire en cas de problème.
        <br>(3) Vous déclarez être majeur(e) et posséder l'autorité légale, le droit et le pouvoir de conclure un accord contraignant basé sur les présentes Conditions, d'utiliser les Services et d'acheter des Produits. Si vous n'êtes pas majeur(e), vous ne pouvez utiliser les Services ou acheter des Produits qu’avec le consentement de vos parents ou de votre tuteur légal.
        <br>(4)Ce site est hébergé par OVHcloud Tunisia. Ces Conditions sont fournies en langue française. En cas de divergence entre la version française de ce document et n’importe laquelle de ses traductions, la version française prévaudra. Pour utiliser notre Site et/ou profiter de nos Services, vous devez avoir au moins 18 ans, ou avoir atteint l'âge légal de la majorité dans votre pays, et posséder l'autorité légale, le droit et le pouvoir de signer ces Conditions en tant qu’accord contraignant. Vous n'êtes pas autorisé(e) à utiliser ce Site et/ou à profiter de nos Services si c’est interdit dans votre pays, ou par une loi ou réglementation qui vous est applicable.
      </p>
      <a class="text-light text-center my-4" href="{{ path('home')}}">
        <u>Retour à la page d'Accueil</a>

      </div>
    </div>

  {% endblock %}
