{% extends 'base.html.twig' %}

{% block title %}Page de contact{% endblock %}

{% block body %}

  <div class="center mt-0 d-flex flex-column justify-content-between">
    <div class="row cat">

      <h1>Page de contact</h1>

      <p>Pour nous contacter ou passer une commande, veuillez vous connecter à votre compte en cliquant sur ce lien:
      </p>
      <a href="{{ path('login') }}">Connexion</a >

      <p>Sinon, nous vous invitons à créer un compte en cliquant sur ce lien:
      </p>
      <a href="{{ path('app_register')}}">Inscription</a>

    </div>
  </div>

  {# <form method="POST">

    <fieldset>
      <div class="form-group">
        <label for="email" class="form-label mt-4">Votre adresse email</label>
        <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Veuillez entrer votre adresse email">
      </div>
      <div class="form-group">
        <label class="col-form-label mt-4" for="subject">Sujet de votre message</label>
        <input type="text" class="form-control" placeholder="Veuillez écrire le sujet de votre message" name="subject">
      </div>
      <div class="form-group">
        <label for="message" class="form-label mt-4">Votre message</label>
        <textarea class="form-control" name="message" rows="4" placeholder="Veuillez écrire votre message"></textarea>
      </div>
      <div class="form-group"></form>
      <button type="submit" class="btn btn-dark mt-3">Envoyer</button>
    </fi</fieldset> #}

{% endblock %}
