{% extends 'base.html.twig' %}

{% block title %}Politique de Confidentialité{% endblock %}

{% block body %}

  <div class="center col-10 mt-0 d-flex flex-column justify-content-center">
    <div class="row cat m-0">

      <h1 class="slogan mt-2 mb-5 mx-0 d-flex justify-content-center fw-lighter fst-italic">Politique de Confidentialité</h1>

      <p class="my-3 d-flex justify-content-center">Nous recevons, collectons et stockons toute information que vous saisissez sur notre site web ou que vous nous fournissez de toute autre manière. En outre, nous recueillons l'adresse de protocole Internet (IP) utilisée pour connecter votre ordinateur à l'Internet ; le login ; l'adresse e-mail ; le mot de passe ; les informations sur l'ordinateur et la connexion et l'historique des achats. Nous pouvons utiliser des outils logiciels pour mesurer et collecter des informations de session, y compris les temps de réponse des pages, la durée des visites sur certaines pages, les informations sur l'interaction entre les pages et les méthodes utilisées pour naviguer hors de la page. Nous recueillons également des informations d'identification personnelle (y compris le nom, l'adresse électronique, le mot de passe, les communications) ; les détails de paiement (y compris les informations de carte de crédit), les commentaires, les réactions, les évaluations de produits, les recommandations et le profil personnel.
      </p>
      <a class="text-light text-center my-4" href="{{ path('home')}}">
        <u>Retour à la page d'Accueil</a>

      </div>
    </div>

  {% endblock %}
