{% extends 'base.html.twig' %}

{% block title %}Réinitialisez votre mot de passe{% endblock %}

{% block body %}
  <div class="center col-10 mt-0 d-flex flex-column align-items-center">

    {% for flash_error in app.flashes('reset_password_error') %}
      <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="center col-10 mt-0 d-flex flex-column">
      <h1 class="slogan mt-2 mb-5 fw-lighter fst-italic d-flex justify-content-center ">Réinitialisez votre mot de passe</h1>
      
        <h5 class="text-center mb-5">Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.</h5>
    
      {{ form_start(requestForm) }}
      {{ form_row(requestForm.email) }}
      <div class="d-flex flex-column justify-content-center align-items-center">
        <button class="btn btn-danger">Envoyer un e-mail</button>
      </div>
      {{ form_end(requestForm) }}
    </div>
  </div>
{% endblock %}
