* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Electrolize", sans-serif; 
}

.container-fluid {
   background-color: rgb(163, 163, 163);
   width: 100vw;
}

.logo {
  height: 150px;
  width: 200px;
}

.icons {
  color: black;
}

.policy {
  font-size: 10px;
  
}

.footer a {
  text-decoration: none;
  color: black;

}

h1 {
  font-size: 100px;
  color: white;
  cursor: pointer;
}

.carousel-item {
  height: 400px;
}

.cat a {
  color: white;
  text-decoration: none;
}

.picLink {
  height: 150px !important;
  width: 220px !important;
  border: solid 5px white;
  border-radius: 2%;
}

.loginPic {
  height: 150px;
  width: 280px;
}

.productPic {
  height: 250px;
  width: 250px;
}
.productPic2 {
  height: 120px;
  width: 120px;
  margin-bottom: 5pt;
}

.productPic3 {
  height: 300px;
  width: 300px;
}

@media only screen and (max-width:800px){
  
  .container-fluid{
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .newNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
 
}




