* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Electrolize", sans-serif; 
}

.container-fluid {
  background-color: rgb(163, 163, 163);
  margin: 0;
  padding: 0;
  height: 100%;
}

.header {
  width: 200px;
  height: 800px;
  margin: 0px;
}

.nav {

  color: black;
}

.logo {
  height: 150px;
  width: 200px;
}

.icons {
  color: black;
}

.policy {
  font-size: 10px;
}

h1 {
  font-size: 100px;
  color: white;
  cursor: pointer;
}

.carousel-item {
  height: 400px;
}

.cat a {
  color: white;
  text-decoration: none;
}

.picLink {
  height: 150px;
  width: 220px;
  border: solid 5px white;
  border-radius: 2%;
}

.btn {
  height: 30px;
  width: 180px;
}

.loginPic {
  height: 150px;
  width: 280px;
}

.productPic {
  height: 250px;
  width: 250px;
}
.productPic2 {
  height: 150px;
  width: 150px;
  margin-bottom: 10pt;
}

.card {
  margin: 0;
  padding: 0;
}


