{% extends 'base.html.twig' %}

{% block title %}Ajouter une image{% endblock %}

{% block body %}
  <div class="d-flex flex-column w-100 align-items-center">
    <h1 class="slogan mt-2 mb-5 fw-lighter fst-italic d-flex justify-content-center ">Ajouter une image</h1>

    {{ include('image/_form.html.twig') }}

    <a class="text-dark "href="{{ path('image_index') }}">Retour au menu Image</a>
  </div>

{% endblock %}
