{% extends 'base.html.twig' %}

{% block title %}Modifier la catégorie{% endblock %}

{% block body %}
  <div class="center col-10 mt-0 d-flex flex-column justify-content-between">
    <h1>Modifier la catégorie</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('category/_delete_form.html.twig') }}

    <a href="{{ path('category_index') }}">Retour au menu Catégorie</a>
  </div>

{% endblock %}
