{% extends 'base.html.twig' %}

{% block title %}Ajouter une nouvelle catégorie{% endblock %}

{% block body %}

  <div class="center col-10 mt-0 d-flex flex-column align-items-center">
    <h1 class="slogan mt-2 mb-5 mx-0 d-flex justify-content-center fw-lighter fst-italic w-100">Ajouter une nouvelle catégorie</h1>
    <div class="w-25">
      {{ include('category/_form.html.twig') }}
    </div>
    <a class="text-dark" href="{{ path('category_index') }}">Retour au menu Catégorie</a>
  </div>

{% endblock %}
