{% extends 'base.html.twig' %}

{% block title %}Page Admin{% endblock %}

{% block body %}

  <div class="center mt-0 d-flex flex-column justify-content-between">
    <div class="row">
      <h1 class="my-3">Bienvenu sur votre page Admin</h1>
      <div class="card text-white bg-secondary mb-3 mx-3" style="max-width: 18rem;">
        <div class="card-body">
          <h4 class="card-title">Catégorie</h4>
          <p class="card-text">Vous pouvez voir, modifier ou ajouter une catégorie de produits</p>
          <div class="card-header">
            <a class="btn btn-light mb-3" href="{{ path('category_index') }}" role="button">Voir</a>
          </div>
        </div>
      </div>
      <div class="card bg-light mb-3 mx-3" style="max-width: 18rem;">
        <div class="card-body"> 
          <h4 class="card-title">Produits</h4>
          <p class="card-text">Vous pouvez voir, modifier ou ajouter un ou plusieurs produits.</p>
          <div class="card-header">
            <a class="btn btn-light mb-1" href="{{ path('product_index') }}" role="button">Voir</a>
          </div>
        </div>
      </div>
      <div class="card text-white bg-secondary mb-3 mx-3 " style="max-width: 18rem;">
        <div class="card-body">
          <h4 class="card-title">Utilisateurs</h4>
          <p class="card-text">Vous pouvez voir, modifierou ajouter un ou plusieurs utilisateurs.</p>
          <div class="card-header">
            <a class="btn btn-light mb-1" href="{{ path('user_index') }}" role="button">Voir</a>
          </div>
        </div>
      </div>
     <div class="card bg-light mb-3 mx-3" style="max-width: 18rem;">
        <div class="card-body">
          <h4 class="card-title">Factures</h4>
          <p class="card-text">Vous pouvez voir, modifier ou ajouter des factures.</p>
          <div class="card-header">
            <a class="btn btn-light mb-1" href="{{ path('invoice_index') }}" role="button">Voir</a>
          </div>
        </div>
      </div>

    </div>
  </div>

{% endblock %}
