{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouveau produit{% endblock %}

{% block body %}

  <div class="center mt-0 d-flex flex-column justify-content-between">
    <div class="row">
      <h1>Ajouter un nouveau produit</h1>

      {{ include('product/_form.html.twig') }}

      <a href="{{ path('product_index') }}">back to list</a>
    </div>
  </div>

{% endblock %}
