<footer class="w-50">
  <ul class="nav justify-content-center border-bottom">
    <li class="nav-item">
      <a href="{{ path('home_mention')}}" class="nav-link px-2">Mentions légales</a>
    </li>
    <li class="nav-item">
      <a href="{{ path('home_condition')}}" class="nav-link px-2">Conditions Générales de Vente</a>
    </li>
    <li class="nav-item">
      <a href="{{ path('home_policy')}}" class="nav-link px-2">Politique de Confidentialité</a>
    </li>
  </ul>
  <p class="text-center text-dark mt-2">&copy; 2022 ID Concept. Créé par
    <a href="https://www.linkedin.com/in/sonia-messellemi-506b041b1/">Tahia Dev</a>
  </p>
</footer>
